@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
   
    <li>
        <div class="btn-group">
            <button type="button" class="btn btn-logged" data-toggle="dropdown">
                <img src="../images/photos/loggeduser.png" alt="" />
                @User.Identity.GetUserName()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-log-out"></i> Cerrar sesión</a></li>
            </ul>
        </div>
    </li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hidden" }))
    {
        @Html.AntiForgeryToken()
    }
}
