@{
    ViewBag.Title = "Inicio";
}


<div class="contentpanel">

    <div class="row">
        <div class="col-md-9 col-lg-8 dash-left">

            @*<div class="row panel-quick-page">
        <div class="col-xs-4 col-sm-5 col-md-4 page-user">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Manage Users</h4>
                </div>
                <div class="panel-body">
                    <div class="page-icon"><i class="icon ion-person-stalker"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 page-products">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Manage Products</h4>
                </div>
                <div class="panel-body">
                    <div class="page-icon"><i class="fa fa-shopping-cart"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 page-events">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Events</h4>
                </div>
                <div class="panel-body">
                    <div class="page-icon"><i class="icon ion-ios-calendar-outline"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 page-messages">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Messages</h4>
                </div>
                <div class="panel-body">
                    <div class="page-icon"><i class="icon ion-email"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-5 col-md-2 page-reports">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Reports</h4>
                </div>
                <div class="panel-body">
                    <div class="page-icon"><i class="icon ion-arrow-graph-up-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 page-statistics">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Statistics</h4>
                </div>
                <div class="panel-body">
                    <div class="page-icon"><i class="icon ion-ios-pulse-strong"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 page-support">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Manage Support</h4>
                </div>
                <div class="panel-body">
                    <div class="page-icon"><i class="icon ion-help-buoy"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 page-privacy">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Privacy</h4>
                </div>
                <div class="panel-body">
                    <div class="page-icon"><i class="icon ion-android-lock"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 page-settings">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Settings</h4>
                </div>
                <div class="panel-body">
                    <div class="page-icon"><i class="icon ion-gear-a"></i></div>
                </div>
            </div>
        </div>
    </div><!-- row -->*@
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">Estadisticas de pedidos</h4>
                            <p>Se muestran cantidad de pedidos por mes.</p>
                        </div>
                        <div class="panel-body">
                            <div id="barchart" style="width: 100%; height: 400px;"></div>
                        </div>
                    </div><!-- panel -->
                </div><!-- col-sm-6 -->
                @*<div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">Pie Chart</h4>
                                <p>Labels can be hidden if the slice is less than a given percentage of the pie.</p>
                            </div>
                            <div class="panel-body">
                                <div id="piechart" class="flot-chart"></div>
                            </div>
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->*@
            </div><!-- row -->

        </div><!-- col-md-9 -->
        @if (User.IsInRole("Diseñador"))
        {
            <div class="col-md-3 col-lg-4 dash-right">
                <div class="row">
                    @{
            Html.RenderAction("NotificacionEntrantesHome", "Pedidoes");
                    }
                </div><!-- row -->
            </div><!-- col-md-3 -->
        }
    </div><!-- row -->

</div><!-- contentpanel -->
@section Scripts {
    @Scripts.Render("~/bundles/amcharts")
    <script>
        $(function () {
            var SeriesData = @Html.Raw(Json.Encode(ViewBag.Datos));
            var chart = AmCharts.makeChart("barchart", {
                "type": "serial",
                "theme": "light",
                "marginTop":0,
                "marginRight": 80,
                "dataProvider": SeriesData,
                "valueAxes": [{
                    "axisAlpha": 0,
                    "position": "left"
                }],
                "graphs": [{
                    "id":"g1",
                    "balloonText": "<b><span style='font-size:11px;'>Pedidos</span></b><br /><b><span style='font-size:15px;'>[[Cantidad]]</span></b>",
                    "bullet": "round",
                    "bulletSize": 8,
                    "lineColor": "#d1655d",
                    "lineThickness": 2,
                    "negativeLineColor": "#637bb6",
                    "type": "smoothedLine",
                    "valueField": "Cantidad"
                }],
                "chartScrollbar": {
                    "graph":"g1",
                    "gridAlpha":0,
                    "color":"#888888",
                    "scrollbarHeight":55,
                    "backgroundAlpha":0,
                    "selectedBackgroundAlpha":0.1,
                    "selectedBackgroundColor":"#888888",
                    "graphFillAlpha":0,
                    "autoGridCount":true,
                    "selectedGraphFillAlpha":0,
                    "graphLineAlpha":0.2,
                    "graphLineColor":"#c2c2c2",
                    "selectedGraphLineColor":"#888888",
                    "selectedGraphLineAlpha":1

                },
                "chartCursor": {
                    "categoryBalloonDateFormat": "MMMM",
                    "cursorAlpha": 0,
                    "valueLineEnabled":true,
                    "valueLineBalloonEnabled":true,
                    "valueLineAlpha":0.5,
                    "fullWidth":true
                },
                "categoryField": "Mes",
                "export": {
                    "enabled": true
                }
            });
            chart.addListener("rendered", zoomChart);
            if(chart.zoomChart){
                chart.zoomChart();
            }

            function zoomChart(){
                chart.zoomToIndexes(Math.round(chart.dataProvider.length * 0.6), Math.round(chart.dataProvider.length * 1));
            }
        });
    </script>
}
